In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.core.display import display

## Linear PLS regression

PLS regression decomposes both $X$ and $Y$ as a product of a common set of orthogonal factors and a set of specific loadings. So, the independent variables are *decomposed* as:

$$
    X = TP^{\prime} + E \quad \text{with} \quad T^{\prime}T = I \text{ and } 
$$

$$
    Y = UQ^{\prime} + F \quad \text{with} \quad U^{\prime}U = I
$$

$Y$ is estimated with:

$$
    \hat{Y} = TBQ^{\prime}
$$

where:
* $X \in \mathcal{R}^{n \times N}$ is a $| \text{ samples }| \times | \text{ predictors } |$ input matrix
* $T$ is a *score* matrix and $P$ is a *loading* matrix; the columns of $T$ are *latent vectors*
* $Y \in \mathcal{R}^{n \times M}$ is a $| \text{ samples }| \times | \text{ responses } |$ output matrix
* $B$ is a diagonal matrix with the *regression weights* as diagonal elements

### Pseudo algorithm

In [4]:
Y = pd.DataFrame({
    'wine': np.arange(1, 6),
    'hedonic': [14, 10, 8, 2, 6],
    'goes_with_meant': [7,7, 5, 4, 2],
    'goes_with_dessert': [8, 6, 5, 7, 4]
})

X = pd.DataFrame({
    'wine': np.arange(1, 6),
    'price': [7, 4, 10, 16, 13],
    'sugar': [7, 3, 5, 7, 3],
    'alcohol': [13, 14, 12, 11, 10],
    'acidity': [7, 7, 5, 3, 3]
})

display(Y, X)

   wine  hedonic  goes_with_meant  goes_with_dessert
0     1       14                7                  8
1     2       10                7                  6
2     3        8                5                  5
3     4        2                4                  7
4     5        6                2                  4

   wine  price  sugar  alcohol  acidity
0     1      7      7       13        7
1     2      4      3       14        7
2     3     10      5       12        5
3     4     16      7       11        3
4     5     13      3       10        3